<IfModule mod_rewrite.c>
    RewriteEngine On

    # Если файл или директория существуют, то отдаем их напрямую
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Перенаправляем все запросы к API на backend/index.php
    RewriteCond %{REQUEST_URI} ^/api
    RewriteRule ^api/(.*)$ backend/index.php?url=$1 [QSA,L]

    # Все остальные запросы перенаправляем на index.html
    RewriteRule ^ index.html [L]
</IfModule>